# data type

# 1 string data type

In [1]:
var1 = " hello world"
var2 = "python programing"
print(var1)
print(var2)

 hello world
python programing

In [2]:
#To access substrings, use the square brackets for slicing along with the index or indices to obtain 
#your substring. For example âˆ’
var1 = "hello world"
var2 = "python programing"
print("var1[0]:", var1[0])
print("var2(1:4):", var2[1:4])

var1[0]: h
var2(1:4): yth

In [3]:
#update string
var = "hello world"
print('updated string:-', var[:5] + "\tpython")

updated string:- hello	python

In [4]:
#string formatting operator
print ("My name is %s and weight is %d kg!" % ('Zara', 21))

My name is Zara and weight is 21 kg!

# Built-in String Methods

In [5]:
#capitalize()
txt="hello, and welcome to my world"
x=txt.capitalize()
print(x)

Hello, and welcome to my world

In [6]:
#casefold()
txt="HELLO, AND WELCOME TO MY WORLD"
x=txt.casefold()
print(x)

hello, and welcome to my world

In [7]:
#center()
txt="banana"
x=txt.center(10)
print(x)

  banana

In [8]:
#count()
txt='I love apples, apple are my favourite fruite'
x=txt.count('p')
print(x)

4

In [9]:
#encode()
txt='my name stale'
x=txt.encode()
print(x)

b'my name stale'

In [10]:
#isalnum()
txt="company12"
x=txt.isalnum()
print(x)

True

In [11]:
#isalpha
txt="apple"
x=txt.isalpha()
print(x)

True

In [12]:
#upper()
txt="hello my friend"
print(txt.upper())

HELLO MY FRIEND

In [13]:
#lower()
txt="HELLO"
x=txt.lower()
print(x)

hello

In [14]:
#swapcase()
txt="My name Is PETTER"
x=txt.swapcase()
print(x)

mY NAME iS petter

In [15]:
#replace()
txt="i like banana"
x=txt.replace("banana","apple")
print(x)

i like apple

In [16]:
#startswith()
txt="welcome to my home"
x=txt.startswith("welcome")
print(x)

True

In [17]:
#join()
txt=("john","peter","vicky")
x=" ".join(txt)
print(x)

john peter vicky

In [18]:
#isdecimal()
txt="\u0033"
x=txt.isdecimal()
print(x)

True

In [19]:
#isdigit
txt="123"
x=txt.isdigit()
print(x)

True

In [20]:
#islower
txt="hello world!"
x=txt.islower()
print(x)

True

In [21]:
#istitle
txt=  "Hello, And Welcome My World"
x = txt.istitle()
print(x)

True

In [22]:
#isprintable
txt = "Hello! Are you #1?"

x = txt.isprintable()

print(x)

True

In [23]:
#rfind
txt = "Mi casa, su casa."

x = txt.rfind("su")

print(x)

9


# 2 list data types

In [24]:
#create a list
list1=[1,2,3,4,3]
print(list1)

[1, 2, 3, 4, 3]

In [25]:
#access list items
list2=["banana","cherry","mango"]
print(list2[2])
print(list2[0:3:1])

mango
['banana', 'cherry', 'mango']

In [26]:
#Change List Items
thislist=["apple","mango","cherry","kiwi","banana"]
thislist[1:3]=["blackcurrent","watermelon"]
print(thislist)

['apple', 'blackcurrent', 'watermelon', 'kiwi', 'banana']

In [27]:
#Add List Items
thislist=[1,2,3,4,5,6,7]
thislist.append("orange")
print(thislist)

[1, 2, 3, 4, 5, 6, 7, 'orange']

In [28]:
#remove items
thislist=['a','b','c','d','e']
thislist.remove('d')
print(thislist)

['a', 'b', 'c', 'e']

In [29]:
#sort list
#asending order
thislist=[200,100,500,800,600,201,405]
thislist.sort()
print(thislist)

#sort desending
thislist=["orange","apple","mango","banana"]
thislist.sort(reverse=True)
print("\n",thislist)

[100, 200, 201, 405, 500, 600, 800]

 ['orange', 'mango', 'banana', 'apple']

In [30]:
#Copy Lists
thislist=[1,2,3,4,5,6]
mylist=thislist.copy()
print(mylist)

[1, 2, 3, 4, 5, 6]

In [31]:
#join list
# using + operator 
list1=("a","b")
list2=("#","@")
list3=list1+list2
print(list3)

#using append method join list
list1=["p","d"]
list2=[1,2]
for x in list2:
    list1.append(x)
print("\n",list1)

#extend() method join list
list1=[1,2,3,4]
list2=["s","s2"]
list1.extend(list2)
print("\n",list1)

('a', 'b', '#', '@')

 ['p', 'd', 1, 2]

 [1, 2, 3, 4, 's', 's2']

In [32]:
#add a element specific position
list1=[1,2,3,4]
list1.insert(2,"orange")
print(list1)

[1, 2, 'orange', 3, 4]

In [33]:
#length of list
len(list1)

5

In [34]:
#repetation in list
list1*2

[1, 2, 'orange', 3, 4, 1, 2, 'orange', 3, 4]

# 3 tuple data type

In [35]:
thistuple=("banana","apple","mango","potato")
print(thistuple)

('banana', 'apple', 'mango', 'potato')

In [36]:
#allow duplicate value in tuple 
thistuple=("mango","apple","mango","kiwi")
print(thistuple)

('mango', 'apple', 'mango', 'kiwi')

In [6]:
#add items (tuple convert in to list add yours items and convert back into tuple )
thistuple =("apple", "mango","kiwi")
y = list(thistuple)
y.append("orange")
thistuple=tuple(y)
print(thistuple)

('apple', 'mango', 'kiwi', 'orange')

In [8]:
# add tupe to tuple 
thistuple = ( "apple","mango","kiwi")
y =("orange",)
thistuple += y
print(thistuple)

('apple', 'mango', 'kiwi', 'orange')

In [10]:
#remove items 
thistuple =("mango","orange","kiwi","apple")
y = list(thistuple)
y.remove("mango")
thistuple=tuple(y)
print(thistuple)

('orange', 'kiwi', 'apple')

In [13]:
#delete tuple
tuple1=("a","b","c","d")
del tuple1
print(tuple1)

NameError: name 'tuple1' is not defined

In [15]:
#creating non empty tuple 
tup=()
print(tup)
#one way of creation 
tup = 'orange', 'mango'
print(tup)
# another for doing the same 
tup = ('apple','banana')
print(tup)

()
('orange', 'mango')
('apple', 'banana')

In [17]:
#code of concatenating 2 tuples 
tup1 =(100,200,300,400)
tup2= ("apple","mango")
tup3=tup1+tup2
print(tup3)

(100, 200, 300, 400, 'apple', 'mango')

In [37]:
#code for creating nested tuple 
tup1= (1,2,3,4,5)
tup2=("mango","kiwi")
tup3=(tup1,tup2)
print(tup3)

((1, 2, 3, 4, 5), ('mango', 'kiwi'))

In [19]:
#code to create a tuple with repetition
tup2=("mango","banana")*4
print(tup2)

('mango', 'banana', 'mango', 'banana', 'mango', 'banana', 'mango', 'banana')

In [21]:
#code to test tuple are immutable
tuple1=(1,2,3,4,5)
tuple1[0]= 4
print(tuple1)

TypeError: 'tuple' object does not support item assignment

In [25]:
#code to test slicing 
tuple2=(1,2,3,4,5,6,7,8,9)
print(tuple2[2:])
print(tuple2[0:3])
print(tuple2[1:7:2])

(3, 4, 5, 6, 7, 8, 9)
(1, 2, 3)
(2, 4, 6)

In [27]:
#code for printing  the length of tuple 
tuple2 = (1,2,3,4,5,6,7,8)
print(len(tuple2))

8

In [30]:
#converting list into tuple
list1 =[1,2,3,4,5,6]
print(tuple(list1))

#converting string into tuple
string1 = "python"
print(tuple(string1))

(1, 2, 3, 4, 5, 6)
('p', 'y', 't', 'h', 'o', 'n')

# 4 Dictionary data types

In [34]:
#creating a dictionery 
# with a integer key
dict1 = {1:"seven", 2:"five", 3:"six", 4:"nine"}
print("dictionery with use of inter key. ")
print(dict1)

#with a mixed key
dict2 = {"nine":"five", 1:(1,2,3,4)}
print("\ndictionery with use of mixed key.")
print(dict2)

dictionery with use of inter key.
{1: 'seven', 2: 'five', 3: 'six', 4: 'nine'}

dictionery with use of mixed key.
{'nine': 'five', 1: (1, 2, 3, 4)}

In [47]:
#creating an empty dictionery
dict1={}
print("empty dictionery:")
print(dict1)

#creating a dictionery with use of dict() method
dict2=dict({1:"seven", 2:"five"})
print("\ndictionery with the use of dict():")
print(dict2)

#creating a dictionery with each item as pair 
dict4= dict([(1,"seven",), (2,"for")])
print("\ndictionery with each item as pair: ")
print(dict4)

empty dictionery:
{}

dictionery with the use of dict():
{1: 'seven', 2: 'five'}

dictionery with each item as pair:
{1: 'seven', 2: 'for'}

# dictionery method

In [16]:
#demo for all dictionery method 
dict1={1:"python", 2:"java", 3:"ruby",4:"scala"}

#copy() method 
dict2=dict1.copy()
print(dict2)

#clear() method 
dict1.clear()
print(dict1)

#get() method 
print(dict2.get(2))

#items() method 
print(dict2.items())

#keys() method
print(dict2.keys())

#pop() method 
dict2.pop(2)
print(dict2)

#popitem() method 
dict2.popitem()
print(dict2)

#update() method 
dict2.update({2:"java"})
print(dict2)

#values() method
print(dict2.values())

{1: 'python', 2: 'java', 3: 'ruby', 4: 'scala'}
{}
java
dict_items([(1, 'python'), (2, 'java'), (3, 'ruby'), (4, 'scala')])
dict_keys([1, 2, 3, 4])
{1: 'python', 3: 'ruby', 4: 'scala'}
{1: 'python', 3: 'ruby'}
{1: 'python', 3: 'ruby', 2: 'java'}
dict_values(['python', 'ruby', 'java'])

# sets

In [18]:
#creating a set
set1=set()
print("initial blank set:")
print(set1)

initial blank set:
set()

In [19]:
#creating a set using of string 
set2=set("python")
print("set with use of string:")
print(set2)

set with use of string:
{'p', 'n', 'h', 't', 'y', 'o'}

In [21]:
#creating a set with use of constructors
string = "sevenmforsevenm"
set3= set(string)
print("set with use of object:")
print(set3)

set with use of object:
{'e', 'o', 'f', 's', 'n', 'r', 'v', 'm'}

In [23]:
#creating a set with use of list
set4=set(["seven","for","seven"])
print("set with the use of list:")
print(set4)

set with the use of list:
{'seven', 'for'}

In [27]:
#using add() method 
set1=set()
print("initial blank set:")
print(set1)

#adiing a element and  tuple to the set 
set1.add(1)
set1.add(2)
set1.add((4,5))
print("\nset after adding three element:")
print(set1)

#adding element to the set using iteroter
for i in range(1,6):
    set1.add(i)
print("\n set after add the element 1 to 5 ")
print(set1)

initial blank set:
set()

set after adding three element:
{(4, 5), 1, 2}

 set after add the element 1 to 5
{1, 2, 3, 4, 5, (4, 5)}

In [28]:
#update() method
set1=set([1,2,3,4,5])
set1.update([10,11])
print("set after addition of element using update:")
print(set1)

set after addition of element using update:
{1, 2, 3, 4, 5, 10, 11}

In [8]:
#using remove() and discharge method()
#creating a set
set2= set([1,2,3,4,5,6,7,8,9,10,11,12,13,14])
print("initial set:")
print(set2)

#using remove method 
set2.remove(5)
set2.remove(7)
print("\nset after removel two element")
print(set2)

#using discard() method 
set2.discard(8)
set2.discard(9)
print("\nset after discarding two element")
print(set2)

#using a iterotar method
for i in range(1,5):
    set2.remove(i)
print("\nafter removeing range of element")
print(set2)

initial set:
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

set after removel two element
{1, 2, 3, 4, 6, 8, 9, 10, 11, 12, 13, 14}

set after discarding two element
{1, 2, 3, 4, 6, 10, 11, 12, 13, 14}

after removeing range of element
{6, 10, 11, 12, 13, 14}

In [10]:
#pop() method
set1=set([1,2,3,4,5,6])
print("initial set:")
print(set1)

#set uding pop method 
set1.pop()
print("\nset after poping an element:")
print(set1)

initial set:
{1, 2, 3, 4, 5, 6}

set after poping an element:
{2, 3, 4, 5, 6}

In [15]:
#clear() method 
set1={"seven","for","java","python"}
print("initial set:")
print(set1)

#removing all element using clear() method 
set1.clear()
print("\nset after clearing all element")
print(set1)

initial set:
{'for', 'seven', 'java', 'python'}

set after clearing all element
set()